* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 20%;
    background-color: #fbfffd;
    box-shadow: 5px 2px 30px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}

.nav-links ul {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.nav-links ul li a {
    color: #2f485e;
    font-weight: 500;
}
.nav-links ul li a:hover {
    color: #a4b6ac;
}

/* banner css start*/
.banner {
    display: grid;
    grid-template-columns: 9fr 3fr;
    align-items: center;
    height: 95vh;
    padding: 0% 20%;
}
.banner h3{
    font-size: 14px;
    font-weight: 300;
    background-color: #a4b6ac;
    display: inline;
    color: #fff;
    padding: 3px 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.banner p{
    margin: 15px 0px;
    font-size: 18px;
    font-weight: 400;
    color: #2f485e;
}
.intro {
    font-weight: 400;
    font-size: 40px;
    color: #2f485e;
}
.name {
    font-weight: 700;
    font-size: 60px;
    color: #a4b6ac;
}
.resume {
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    background-color: #2f485e;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}
.resume:hover {
    background-color: #a4b6ac;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}
/* banner css end*/

/* about css start */
.about {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 2px 25px 2px #ddd;
    background-color: #dfdfdf;
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;
    padding: 1% 20%;
}
.about-img img {
    border-radius: 50%;
    height: 550px;
    width: 550px;
}
.about-content h3 {
    font-size: 30px;
    font-weight: 500;
    color: #2f485e;
    margin-bottom: 15px;
}
.about-text {
    font-size: 18px;
    border-left: 2px solid #a4b6ac;
    padding-left: 15px;
}
.about-text p{
    margin-bottom: 15px;
}
/* about css end */

.technology {
    padding: 0% 20%;
}
.technology h2 {
    font-size: 50px;
    font-weight: 500;
    color: #2f485e;
    text-align: center;
    margin: 50px 0;
}
.techs {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    column-gap: 20px;
    row-gap: 30px;
}
.techs img {
    width: 200px;
    height: 100px;
}
.techs img:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;
}

.project {
    padding: 0% 15%;
    margin-bottom: 30px;
}
.project h2 {
    font-size: 50px;
    font-weight: 500;
    color: #2f485e;
    text-align: center;
    margin: 50px 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    column-gap: 20px;
    justify-content: center;
}
.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #dbdbdb;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.card img:hover {
    transform: scale(1.01);
    transition: 0.3s;
}
.card h3 {
    margin: 15px 0;
    color: #2f485e;
    font-weight: 500;
    font-size: 20px;
}
.card p {
    font-weight: 400;
    margin-bottom: 30px;
    color: #2f485e;
}
.icons {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.icons a {
    color: #fff;
    background-color: #2f485e;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 50%;
}
.icons a:hover {
    background-color: #a4b6ac;
    transition: 0.2s;
}
.contact-sec{
    background-color: #dfdfdf;
     box-shadow: 2px 2px 25px 2px #ddd;
         margin-bottom: 50px;
    margin-top: 50px;
    padding: 2% 0%;
}
.contact{
     background-color: #fefefe;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 10px;

}

.contact h2 {
    font-size: 50px;
    font-weight: 500;
    color: #2f485e;
    text-align: center;
    margin: 50px 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
}
.fields{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid #2f485e;
}
.contact-form button{
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    background-color: #2f485e;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}
.contact-form button:hover {
    background-color: #a4b6ac;
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
}

footer{
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 20px;
    font-weight: 400;
    color: #2f485e;
}
